table {
      border-collapse: collapse;
      width: 100%;
      margin-top: 100px;
    }
    
    th, td {
      text-align: left;
      padding: 8px;
    }
    
    th {
      background-color: #f2f2f2;
    }
    
    tr:nth-child(even) {
      background-color: #f9f9f9;
    }
   
    body{
        background-color: rgb(49, 48, 48);
    }
p{
    color: white;
    margin-top: 25px;
}

  h2{
    margin-top: 5%;
    color: rgb(247, 241, 234);

  }
div{
    margin-bottom: 25px;
}

  button{
   
    margin-left: 25px;
    margin-bottom:15px;
  }
img{
    width: 250px;
    height: 200px;
    margin-top: 50px;
    margin-left: 25px;
}