body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  text-align: center;
}

.producto {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.producto-imagen {
  margin-right: 10px;
  max-width: 100px;
}

.producto-contenido {
  flex: 1;
}

.botones {
  text-align: right;
}

.boton {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.boton:hover {
  background-color: #45a049;
}
