body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #141414;
    }

    header {
      background-color: light;
      color: #fff;
      padding: 20px;
      text-align: center;
    }

    h1 {
      margin: 0;
    }

    main {
      margin: 20px;
    }

    .producto {
      display: flex;
      margin-bottom: 20px;
    }

    .imagen {
      width: 200px;
      margin-right: 20px;
    }

    .descripcion {
      flex-grow: 1;
    }

    .precio {
      font-weight: bold;
    }
   
